---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

#content {
    min-height: 100vh;

    > .logo {
        display: flex;
        height: 100vh;
        justify-content: center;

        svg {
            width: 40%;
            align-items: center;
        }
    }
}